@use '../../utils' as *;

.exdos-about-video{
    &-area{
        display: flex;
        align-items: center;
    }
    &-icon{
        a{
            width: 80px;
            height: 80px;
            border: 1px solid var(--exdos-body-color);
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            line-height: 75px;
        }
    }
    & h4{
        font-size: 30px;
        color: var(--exdos-body-color);
    }
}

.exdos-about-area{
    .exdos-about-shape{
        & .exdos-about-shape-1{
            top: 23%;
            left: 0;
            z-index: 1;
        }
        & .exdos-about-shape-2{
            top: 0;
            right: 0;
            z-index: 1;
        }
        & .exdos-about-shape-3{
            top: 40%;
            right: 42%;
            z-index: 1;
        }
    }
}