@use '../../utils' as *;

.exdos-about-video{
    @media #{$xl, $lg, $md, $sm, $xs}{
        padding-left: 0px;
    }
    @media #{$lg, $md, $sm, $xs}{
        margin-top: 60px;
    }
    & .exdos-section-title-wrapper{
        & .section-title{
            @media #{$sm}{
                font-size: 45px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
    }
   
    &-area{
        display: flex;
        align-items: center;
    }
    &-icon{
        a{
            width: 80px;
            height: 80px;
            border: 1px solid var(--exdos-body-color);
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            line-height: 75px;
            @media #{$sm, $xs}{
                width: 60px;
                height: 60px;
                line-height: 55px;
            }
        }
    }
    & h4{
        font-size: 30px;
        color: var(--exdos-body-color);
        @media #{$sm, $xs}{
            font-size: 26px;
        }
    }
}

.exdos-about-area{
    .exdos-about-shape{
        & .exdos-about-shape-1{
            top: 23%;
            left: 0;
            z-index: 1;
        }
        & .exdos-about-shape-2{
            top: 0;
            right: 0;
            z-index: 1;
        }
        & .exdos-about-shape-3{
            top: 40%;
            right: 42%;
            z-index: 1;
        }
    }
}
.exdos-about-box{
    @media #{$xl}{
       padding-left: 20px;
    }
    @media #{$lg, $md, $sm, $xs}{
        padding-left: 0px;
    }
}
.exdos-about-content{
    & .exdos-section-title-wrapper{
        & .section-title{
            @media #{$sm}{
                font-size: 45px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
    }
}