@use '../../utils' as *;

.exdos-award{
    &-wrapper{
        .col-md-6{
            &:nth-child(even){
                border-left: 1px solid var(--exdos-body-color);
                .exdos-award-single{
                    padding-left: 40px;
                }
            }            
        }
    }
    &-single{
        border-bottom: 1px solid var(--exdos-body-color);
        padding: 30px 0;

        & .exdos-award-desc{
            font-size: 20px;
            color: var(--exdos-body-color);
        }
        &  .exdos-ward-title{
            font-size: 30px;
            color: var(--exdos-heading-color);
        }
    }
}

.exdos-award-wrapper .row .col-md-6:nth-child(2){
    .exdos-award-single{
        padding-top: 0px;
    }
}
.exdos-award-wrapper .row .col-md-6:nth-child(1){
     .exdos-award-single{
        padding-top: 0px;
    }
}

.exdos-award-wrapper .row [class*=col-]:nth-last-child(-n+2)  .exdos-award-single{
    padding-bottom: 0;
    border-bottom: 0;
}
.exdos-award-shape{
    @media #{$lg}{
        margin-bottom: 60px;
    }
}