@use '../../utils' as *;

.exdos-hero{
    &-section{
        @media #{$lg}{
            padding-top: 250px;
         }
    }
    &-title{
        font-size: 110px;
        text-transform: uppercase;
        color: var(--exdos-white);
        margin: 0;
        @media #{$xl,$lg}{
           font-size: 80px;
        }
        @media #{$md}{
            font-size: 50px;
        }
        span{
            background: radial-gradient(42.24% 2817.5% at 52.45% 54.17%, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        & i{
            font-size: 30px;
            color: #b1b4ba;
            display: inline-block;
            font-style: normal;
            transform: translateY(-5px);
            line-height: 133%;
        }
    }
}
.exdos-hero-shape-1 {
    top: 370px;
    left: -40px;
    z-index: 1;
}
.exdos-hero-shape-2 {
    top: 295px;
    left: 382px;
    z-index: 1;
}
.exdos-hero-shape-3 {
    top: 34%;
    left:  58%;
    z-index: 1;
}
.exdos-hero-shape-4 {
    bottom: 140px;
    right: 300px;
    z-index: 1;
    animation: br-translate 2s ease infinite;
}
.exdos-hero-shape-5 {
    top: 212px;
    right: 193px;
    z-index: 1;
    animation: br-translate-right 2s ease infinite;
}

.exdos-hero-info{
    color: var(--exdos-grey-color);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    width: 100px;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 100px;
    z-index: 11;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    white-space: nowrap;
    @media #{$lg}{
       display: none;
    }
    @media #{$md}{
        display: none;
    }
    @media #{$sm}{
        display: none;
    }
    @media #{$xs}{
        display: none;
    }
}
.exdos-hero-social{
    transform: rotate(-90deg);
    display: block ruby;
}
.exdos-hero-text{
    transform: rotate(-90deg);
    display: block ruby;
}