@use '../../utils' as *;

.exdos-hero{
    &-title{
        font-size: 110px;
        text-transform: uppercase;
        color: var(--exdos-white);
        margin: 0;
        span{
            background: radial-gradient(42.24% 2817.5% at 52.45% 54.17%, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        & i{
            font-size: 30px;
            color: #b1b4ba;
            display: inline-block;
            font-style: normal;
            transform: translateY(-5px);
            line-height: 133%;
        }
    }
}
.exdos-hero-shape-1 {
    top: 370px;
    left: -40px;
    z-index: 1;
}
.exdos-hero-shape-2 {
    top: 295px;
    left: 382px;
    z-index: 1;
}
.exdos-hero-shape-3 {
    top: 34%;
    left:  58%;
    z-index: 1;
}
.exdos-hero-shape-4 {
    bottom: 140px;
    right: 300px;
    z-index: 1;
    animation: br-translate 2s ease infinite;
}
.exdos-hero-shape-5 {
    top: 212px;
    right: 193px;
    z-index: 1;
    animation: br-translate-right 2s ease infinite;
}


@keyframes br-translate {
    0% {
      transform: translateX(0px) translateY(0px);
    }
    50% {
      transform: translateX(-5px) translateY(-5px);
    }
    100% {
      transform: translateX(0px) translateY(0px);
    }
}
@keyframes br-translate-right {
    0% {
      transform: translateX(0px) translateY(0px);
    }
    50% {
      transform: translateX(5px) translateY(5px);
    }
    100% {
      transform: translateX(0px) translateY(0px);
    }
}