@use '../../utils' as *;

.exdos-newsletter{
    &-bg{
        padding: 80px;
        border-radius: 20px;
        @media #{$sm, $xs}{
           padding: 40px;
        }
    }
    &-box{
        form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media #{$sm, $xs}{
                flex-direction: column;
            }
        }
        h2{
            font-size: 100px;
            color: var(--exdos-white);
            opacity: .1;
            position: absolute;
            left: 100px;
            top: -27px;
            @media #{$lg, $md, $sm, $xs}{
                font-size: 65px;
                left: 20px;
                top: -8px;
            }
        }
    }
}
.exdos-newsletter-input{
    width: calc(100% - 205px);
    @media #{$sm}{
        width: 100%;
    }
    input{
        color: var(--exdos-white);
        border-color: var(--exdos-white);

        @include exdos-placeholder{
            color: var(--exdos-white);
        }

        &:focus{
            border-color: var(--exdos-white);
        }
        @media #{$sm}{
           margin-bottom: 20px;
        }
    }
    img{
        position: absolute;
        right: 25px;
        top: 20px;
    }
}
.news-letter-margin{
    margin-top: -110px;
}