@use '../../utils' as *;

.exdos-portfolio{
    &-tabs{
        & li{
            & button{
                font-family: var(--exdos-font-heading);
                font-size: 100px;
                line-height: 1.2;
                color: var(--exdos-white);
                border-bottom: 1px solid var(--exdos-border-color-1);
                display: inline-block;
                padding: 12px 100px;
                padding-right: 35px;
                text-align: left;
                transition: .3s;

                &.active{
                    color: var(--exdos-secondary-color);
                    border-color: var(--exdos-secondary-color);
                }
            }
        }
    }
    &-thum{
        img{
            border-radius: 20px;
        }
    }
    &-tab-btn{
        .exdos-portfolio-btn{
            font-family: var(--exdos-font-heading);
            font-size: 60px;
            color: var(--exdos-white);
            opacity: 0.3;
            display: inline-block;
            border: 2px solid rgba(217, 217, 217, .3);
            padding: 50px 75px;
            border-radius: 100%;
            line-height: 1;
            transition: .3s;
            &:hover{
                background-color: var(--exdos-primary-color);
                opacity: 1;
            }
        }
    }
}

