@use '../../utils' as *;

.exdos-portfolio{
    &-tabs{
        & li{
            & button{
                font-family: var(--exdos-font-heading);
                font-size: 100px;
                line-height: 1.2;
                color: var(--exdos-white);
                border-bottom: 1px solid var(--exdos-border-color-1);
                display: inline-block;
                padding: 12px 100px;
                padding-right: 35px;
                text-align: left;
                transition: .3s;

                &.active{
                    color: var(--exdos-secondary-color);
                    border-color: var(--exdos-secondary-color);
                }
            }
        }
    }
}