@use '../../utils' as *;

.exdos-team{
    &-area{
        @media #{$lg}{
            padding: 80px;
        }
        @media #{$md}{
            padding: 60px;
        }
        @media #{$sm}{
            padding: 40px;
        }
        @media #{$xs}{
            padding: 20px;
        }
    }
    &-thum{
       & a{
          & img{
            border-radius: 15px;
          }
        }
    }
    &-content{
        @media #{$xxl-mid}{
            margin-left: 25px;
        }
        @media #{$xl}{
            margin-left: 0px;
        }
        .exdos-team-name{
            font-size: 30px;
            transition: .3s;
            margin-bottom: 10px;

            &:hover{
                color: var(--exdos-primary-color);
            }
        }
        .deg{
            & span{
                width: 60px;
                height: 1px;
                background-color: var(--exdos-grey-color-1);
                display: inline-block;
                transform: translateY(-5px);
                margin-right: 10px;
            }
        }
    }

    &-social{
        list-style: none;
        & li{
            display: inline-block;
            margin-right: 15px;
            a{
                color: var(--exdos-heading-color);
                font-size: 25px;
            }
        }
    }
}
.exdos-team-btn{
    display: inline-block;
}
.exdos-team-pagination{
    & span{
        width: 12px;
        height: 12px;
        background-color: var(--exdos-grey-color-2);
        border-radius: 100%;
        display: inline-block;
        margin: 0 12px;
    }
    @media #{$lg, $md, $sm, $xs}{
        text-align: left !important;
        margin-top: 20px;
    }
}