@use '../../utils' as *;

.exdos-testimonial{
    &-quote-shape{
        left: 25%;
        top: 75px;
        z-index: -1;
    }
    &-quote-shape-1{
        top: 115px;
        left: 0;
        @media #{$lg}{
            display: none;
        }
    }
    &-quote-shape-2{
        right: 0;
        top: 30px;
        @media #{$lg}{
            display: none;
        }
    }
    &-quote{
        font-size: 100px;
        @media #{$xl}{
            font-size: 70px;
        }
        @media #{$lg}{
            font-size: 60px;
            max-width: 700px;
            margin: auto;
        }
    }

    &-author{
        & .author{
            font-size: 30px;
        }
        & .author-deg{
            span{
                height: 1px;
                width: 60px;
                background: var(--exdos-body-color);
                display: inline-block;
                transform: translateY(-5px);
                margin-right: 7px;
            }
        }
    }

    &-pagination{
        .exdos-test-btn{
            top: 30%;
            left: -100px;
            @media #{$xl}{
                left: -20px;
            }
            @media #{$lg}{
                top: 40%;
                left: -20px;
            }
        }
        .swiper-test-button-next{
            left: auto;
            right: -100px;
            @media #{$xl}{
                right: -20px;
            }
            @media #{$lg}{
                right: -20px;
            }
        }
        
    }
}