@use '../utils' as *;
.exdos-btn{
	background-color: var(--exdos-secondary-color);
	font-family: var(--exdos-font-heading);
	font-size: 18px;
	color: var(--exdos-heading-color);
	padding: 16px 46px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	
	& .exdos-btn-wrap{
		position: relative;
		overflow: hidden;
		display: block;
		& span {
			transition: 0.2s;
			display: block;
		}
		& .exdos-btn-y-2{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			transform: translateY(100%);
		}
	}
	&:hover{
		.exdos-btn-y-1{
			transform: translateY(-100%);
		}
		.exdos-btn-y-2{
			transform: translateY(0);
		}
	}
}
.exdos-btn-sec{
	background-color: var(--exdos-primary-color);
	font-family: var(--exdos-font-heading);
	font-size: 18px;
	color: var(--exdos-white);
	padding: 16px 46px;
	border-radius: 5px;
	display: inline-block;
	&-lg{
		padding: 21px 47px;
	}
}

.exdos-btn-text{
	font-family: var(--exdos-font-heading);
	font-size: 18px;
	line-height: 156%;
	color: #57595c;
	display: inline-block;
}