@use '../utils' as *;

.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.exdos-blue-bg{
	background-color: var(--exdos-primary-color);
}
.exdos-yollow-bg{
	background-color: var(--exdos-secondary-color);
}
.exdos-nblue-bg{
	background-color: var(--exdos-nblue-color);
}
.exdos-sd-bg{
	background-color: var(--exdos-sd-color);
}
.exdos-black-bg{
	background-color: var(--exdos-heading-color);
}
.exdos-text-white{
	color: var(--exdos-white);
}
.exdos-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.exdos-brand-slide-element {
	width: auto;
	display: inline-block;
}
.section-title-lg{
	font-size: 100px;
}