:root {
    --ln-theme-color: green;
    --ln-theme-sec-color: blue;
    --ln-black: black;
    --ln-white: white;
    --ln-grey-color: #f6f6f6;
    --ln-grey-color-2: #f6f6f6;
    --ln-grey-color-3: #f6f6f6;
    --ln-grey-color-4: #f6f6f6;
}