@use 'utils/variable' as *;
@use 'utils/mixin' as *;
@use 'utils/test' as *;

*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: $color;
    font-family: $font_family;
}

// inharitents and extents 
%demo{
    color: #333;
    font-family: "candara";
    font-weight: 700;
    text-align: center;
}
.title-1{
   @extend %demo;
   text-align: left
}
.title-2{
   @extend %demo;
}
.title-3{
   @extend %demo;
   text-align: right;
}

// Normal Markup Style Here Now
.service{
    text-align: center;

    .service-thum{
        img{
            max-width: 200px;
            border-radius: 50%;
        }
    }

    .service-content{
        h2{
            font-size: 20px;
            color: #333;
            text-align: center;
        }
        p{
            font-size: 16px;
            color: #999;
            text-align: center;
        }
    }
}

// BEM Markup Style Here Now

.lnservices{
    text-align: center;

    &__thumb{
        img{
            max-width: 200px;
            border-radius: 50%;
        }
    }
    &__content{
        & p{
            font-size: 16px;
            color: #999;
            text-align: center;
        }
        &--text{
            & span{
               color: red; 
            }
        }
    }
    &__title{
        font-size: 20px;
        color: #333;
        text-align: center;
    }
    
}

.demo{

    color: #fff;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
}

.header{
    background-color: #333333;
    grid-column: 1/-1;
}
.menu{
    background-color: #19d10c;
    grid-column: 1/4;
}
.content{
    background-color: #0b71b9;
    grid-column: 4/-1;
}
.footer{
    background-color: #cb0c9f;
    grid-column: 1/-1;
}