@use 'variable' as var;
@use 'mixin' as ex;

@use 'test' as *;

*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: $color;
    font-family: $font_family;
}

%demo{
    color: #333;
    font-family: "candara";
    font-weight: 700;
    text-align: center;
}

.title-1{
   @extend %demo;
   text-align: left
}
.title-2{
   @extend %demo;
}
.title-3{
   @extend %demo;
   text-align: right;
}