@use '../../utils' as *;
.exdos-footer{
    &-widget.footer-logo{
        .footer-logo{
            img{
                width: 100%;
            }
        }
    }
    &-widget.footer-shape{
        & .exdox-footer-top-sep{
            height: 1px;
            background-color: var(--exdos-white);
            opacity: .15;
        }
    }
    &-widget.footer-social{
        a{
            color: var(--exdos-white);
            font-size: 24px;
            margin-right: 18px;
        }
    }
}