@use '../../utils' as *;
.exdos-footer{
    &-widget.footer-logo{
        .footer-logo{
            img{
                width: 100%;
            }
        }
    }
    &-widget.footer-shape{
        & .exdox-footer-top-sep{
            height: 1px;
            background-color: var(--exdos-white);
            opacity: .15;
        }
    }
    &-widget.footer-social{
        a{
            color: var(--exdos-white);
            font-size: 24px;
            margin-right: 18px;
        }
    }
}
.exdos-footer-middle{
    .exdos-footer-widget{
        & .exdos-footer-title{
            font-size: 20px;
            color: var(--exdos-white);
            margin-bottom: 15px;
        }
        & p{
            color: var(--exdos-grey-color);
        }
        & .exdos-footer-link{
            list-style: none;

            & li {
                & a{
                    display: inline-block;
                    font-family: var(--exdos-body-font);
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 188%;
                    color: var(--exdos-grey-color);
                }
            }
        }
    }
    & .exdos-footer-widget.footer-contact{
        & a{
            display: inline-block;
            font-family: var(--exdos-body-font);
            font-size: 30px;
            color: var(--exdos-white);
            margin-bottom: 30px;
        }
    }
}

.exdos-footer{
    &-bottom{
        border-top: 1px solid var(--exdos-body-color);
    }
    &-bottom-copy-text{
        & {
            color: var(--exdos-body-color);
            text-transform: capitalize;

            & a{
                color: var(--exdos-secondary-color);
            }
        }
    }
    &-bottom-menu{
        & ul{
            list-style: none;
            display: flex;
            justify-content: center;

            & li{
                & a{
                    color: var(--exdos-grey-color);
                    font-size: 17px;
                    margin: 0 15px;
                    text-transform: capitalize;
                }
            }
        }
    }
}
.exdos-footer-widget.quick-link {
    position: relative;
    padding-left: 30px;
}
.exdos-footer-widget.quick-link::before {
    position: absolute;
    top: 0px;
    left: -60px;
    border: 0;
    width: 1px;
    background: #fff;
    content: "";
    height: 100%;
    opacity: 0.15;
}

.exdos-footer-widget.quick-link::after {
    position: absolute;
    top: 0px;
    right: 60px;
    border: 0;
    width: 1px;
    background: var(--exdos-white);
    content: "";
    height: 100%;
    opacity: 0.15;
}
.exdos-footer-bottom-menu{
    & ul{
        & li{
            position: relative;

            &::before{
                content: "";
                position: absolute;
                top: 8px;
                left: 0;
                width: 1px;
                height: 13px;
                background-color: var(--exdos-grey-color);
            }
        }
    }
}