@use '../../utils' as *;

.exdos-transparent-header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.hero{
    height: 100vh;
}

.exdos-main-menu{
    & ul{
        & li{
            display: inline-block;
            margin-right: 43px;
            position: relative;
           & a{
                color: var(--exdos-white);
                font-family: var(--exdos-font-heading);
                font-size: 18px;
                font-weight: 400;
                padding: 36px 0;
                display: inline-block;
            }
            & .sub-menu{
                position: absolute;
                top: 115%;
                left: 0;
                width: 250px;
                background-color: var(--exdos-white);
                opacity: 0;
                visibility: hidden;
                transition: .4s;
                & li{
                    display: block;
                    margin-right: 0;
                    
                    & .sub-menu{
                        left: 100%;
                        top: 110%;
                        opacity: 0;
                        visibility: hidden;
                        transition: .4s;
                    }
                    & a{
                        display: block;
                        color: var(--exdos-black);
                        padding: 10px 25px;
                        font-size: 18px;
                    }
                    &:hover{
                       & > a{
                            color: var(--exdos-primary-color) ;
                            transition: .4s;
                       }
                       & > .sub-menu{
                        left: 100%;
                        top: 0;
                        opacity: 1;
                        visibility: visible;
                    }
                    }
                }
            }

            &:hover{
                a{
                    color: var(--exdos-secondary-color);
                    transition: .4s;
    
                   
                }
                
                & .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            } 
        }
    }
}
.exdos-header{
    &-border{
        border-bottom: 1px solid rgba(var(--exdos-white-rgba), .15);
    }
    &-serach{
        margin-right: 30px;
    }
    &-cta{
       display: flex;
       align-items: center;
       padding: 25px 50px 25px 30px;
       border-left: 1px solid rgba(var(--exdos-white-rgba), .15);

        &-icon{
            margin-right: 15px;
        }
        &-content{
            span{
                font-family: var(--exdos-font-body);
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
                color: var(--exdos-grey-color);
                margin: 0;
                margin-bottom: 4px;
            }
            h3{
                font-family: var(--exdos-font-body);
                font-weight: 400;
                font-size: 18px;
                color: var(--exdos-white);
                margin: 0;
                a{
                    color: inherit;
                    font-size: inherit;
                }
            }
        }
    }
    &-menu-bar{
        & button{
            padding: 36px 23px;
            background-color: #23252D;
        }
    }
}