@use '../../utils' as *;

.exdos-transparent-header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.hero{
    height: 100vh;
}

.exdos-main-menu{
    & ul{
        & li{
            display: inline-block;
            margin-right: 43px;
            position: relative;
           & a{
                color: var(--exdos-white);
                font-family: var(--exdos-font-heading);
                font-size: 18px;
                font-weight: 400;
                padding: 36px 0;
                display: inline-block;
            }
            & .sub-menu{
                position: absolute;
                top: 115%;
                left: 0;
                width: 250px;
                background-color: var(--exdos-white);
                opacity: 0;
                visibility: hidden;
                transition: .4s;
                & li{
                    display: block;
                    margin-right: 0;
                    
                    & a{
                        display: block;
                        color: var(--exdos-black);
                        padding: 10px 25px;
                        font-size: 18px;
                    }
                    &:hover{
                       & a{
                            color: var(--exdos-primary-color) ;
                            transition: .4s;
                       }
                    }
                }
            }

            &:hover{
                a{
                    color: var(--exdos-secondary-color);
                    transition: .4s;
    
                   
                }
                
                & .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            } 
        }
    }
}