@use '../../utils' as *;

.exdos-transparent-header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.hero{
    height: 100vh;
}

.exdos-main-menu{
    & ul{
        & li{
            display: inline-block;
            margin-right: 43px;
           & a{
                color: var(--exdos-white);
                font-family: var(--exdos-font-heading);
                font-size: 18px;
                font-weight: 400;
                padding: 36px 0;
                display: inline-block;
            }
        }
    }
}