:root {
    --exdos-primary-color: #0057FC;
    --exdos-secondary-color: #FFE815;
    --exdos-heading-color: #0A0E1A;
    --exdos-nblue-color: #001C52;
    --exdos-body-color: #57595C;
    --exdos-sd-color: #FBF6EF;
    --exdos-black: black;
    --exdos-white: #fff;
    --exdos-black-rgba: #000;
    --exdos-white-rgba: 255, 255, 255;
    --exdos-grey-color: #b1b4ba;
    --exdos-grey-color-2: #f6f6f6;
    --exdos-grey-color-3: #f6f6f6;
    --exdos-grey-color-4: #f6f6f6;
}