:root {
    --exdos-primary-color: #0057FC;
    --exdos-secondary-color: #FFE815;
    --exdos-heading-color: #0A0E1A;
    --exdos-black: black;
    --exdos-white: white;
    --exdos-grey-color: #f6f6f6;
    --exdos-grey-color-2: #f6f6f6;
    --exdos-grey-color-3: #f6f6f6;
    --exdos-grey-color-4: #f6f6f6;
}